{% extends 'todo_list/base.html' %}

{% block title %}<title>Forgot your password?</title>{% endblock %}

{% block page_content %}
<div class='page-container'>
    
    <div class="login-container">
        <h1>Password reset</h1>

        <form action="{% url 'todo_list_app:password_reset' %}" id='login-form' method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class='sticker-button'>Submit</button><br>
            <a href="{% url 'todo_list_app:signup' %}">You don`t have an account? Sign up here!</a>
        </form>
    </div>
</div>
{% endblock %}