{% extends 'todo_list/base.html' %}

{% block title %}<title>Forgot your password?</title>{% endblock %}

{% block page_content %}
<div class='page-container'>
    
    <div class="login-container">
        <h1>Change your password!</h1>        
        <form method="post" id="login-form">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            <small class="reset-help">{{ form.new_password1.help_text }}</small>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}<br>
            <small class="reset-help">{{ form.new_password2.help_text }}</small>
            <button class="sticker-button" type="submit">Reset Password</button>
        </form>
        
    </div>
</div>
{% endblock %}