{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Marck+Script&display=swap" rel="stylesheet">


    {% if user.useroptions.dark_mode == True %}
        <link rel="stylesheet" href="{% static 'todo_list/css/dark.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'todo_list/css/light.css' %}">
    {% endif %}


    <link rel="stylesheet" href="{% static 'todo_list/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'todo_list/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'todo_list/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'todo_list/css/share-modal.css' %}">
    <link rel="stylesheet" href="{% static 'todo_list/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'todo_list/css/checkbox.css' %}">    

    {% block title %}
    {% endblock %}
    
</head>
<body>
    

    {% include 'todo_list/navbar.html' %}

    {% block page_content %}
    {% endblock %}

    {% include 'todo_list/footer.html' %}

</body>
</html>