{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if user.useroptions.font_style == '1' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/marck_script.css' %}">  
    {% elif user.useroptions.font_style == '2' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/dancing_script.css' %}">
    {% elif user.useroptions.font_style == '3' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/marcellus.css' %}">
    {% elif user.useroptions.font_style == '4' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/robotoslab.css' %}">
    {% elif user.useroptions.font_style == '5' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/oswald.css' %}">
    {% elif user.useroptions.font_style == '6' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/excelsior.css' %}">
    {% elif user.useroptions.font_style == '7' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/Arial.css' %}">
    {% elif user.useroptions.font_style == '8' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/times_new_roman.css' %}">
    {% elif user.useroptions.font_style == '9' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/courier_new.css' %}">
    {% elif user.useroptions.font_style == '10' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/verdana.css' %}">
    {% elif user.useroptions.font_style == '11' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/georgia.css' %}">
    {% elif user.useroptions.font_style == '12' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/comic_sans.css' %}">
    {% elif user.useroptions.font_style == '13' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/impact.css' %}">
    {% elif user.useroptions.font_style == '14' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/lucida_console.css' %}">
    {% elif user.useroptions.font_style == '15' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/tahoma.css' %}">
    {% elif user.useroptions.font_style == '16' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/trebuchet.css' %}">
    {% elif user.useroptions.font_style == '17' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/consolas.css' %}">
    {% elif user.useroptions.font_style == '18' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/monaco.css' %}">
    {% elif user.useroptions.font_style == '19' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/fonts/monospace.css' %}">
    {% endif %}

    {% if user.useroptions.dark_mode == True %}
        <link rel="stylesheet" href="{% static 'todo_list/css/dark.css' %}" type="text/css">
    {% else %}
        <link rel="stylesheet" href="{% static 'todo_list/css/light.css' %}" type="text/css">
    {% endif %}

    <link rel="icon" type="image/x-icon" href="{% static "todo_list/img/favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/share-modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/checkbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/fonts/fonts.css' %}">
    <script type="text/javascript" src="{% static 'todo_list/js/navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/178cd86837.js" crossorigin="anonymous"></script>
 

    {% block title %}
    {% endblock %}
    
</head>
<body>
    

    {% include 'todo_list/navbar.html' %}

    {% block page_content %}
    {% endblock %}

    {% include 'todo_list/footer.html' %}
    

    <script type="text/javascript" src="{% static 'todo_list/js/share.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_list/js/send_req.js' %}"></script>
</body>
</html>