{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if user.useroptions.font_style == '2' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/dancing_script.css' %}">
    {% elif user.useroptions.font_style == '3' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/marcellus.css' %}">
    {% elif user.useroptions.font_style == '4' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/robotoslab.css' %}">
    {% elif user.useroptions.font_style == '5' %}
        <link rel="stylesheet" href="{% static 'todo_list/css/oswald.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'todo_list/css/marck_script.css' %}">
    {% endif %}

    {% if user.useroptions.dark_mode == True %}
        <link rel="stylesheet" href="{% static 'todo_list/css/dark.css' %}" type="text/css">
    {% else %}
        <link rel="stylesheet" href="{% static 'todo_list/css/light.css' %}" type="text/css">
    {% endif %}

    <link rel="icon" type="image/x-icon" href="{% static "todo_list/img/favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/share-modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/checkbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/fonts.css' %}">
    <script type="text/javascript" src="{% static 'todo_list/js/navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/178cd86837.js" crossorigin="anonymous"></script>
 

    {% block title %}
    {% endblock %}
    
</head>
<body>
    

    {% include 'todo_list/navbar.html' %}

    {% block page_content %}
    {% endblock %}

    {% include 'todo_list/footer.html' %}
    

    <script type="text/javascript" src="{% static 'todo_list/js/share.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_list/js/send_req.js' %}"></script>
</body>
</html>