{% extends 'todo_list/base.html' %}
{% load todo_list_tags %}
{% load static %}

{% block title %}<title>ToDo list App</title>{% endblock %}

{%  block page_content %}
{% csrf_token %}

<div class="page-container">

    <div id="carousel-wrap">
        {% if todo_lists|get_length_or_empty == False %}
        <div class="slide">
            <div class="sticker">
                <h1 class="sticker-heading">There is nothing here!</h1>
                <p>The list you are looking for never existed or was deleted.</p>
                <hr>
            </div>
        </div>
        {% else %}
        {% for todo_list in todo_lists %}
        <div class="slide">
            <div class="sticker" id="sticker_{{todo_list.id}}">
                <h1 class="sticker-heading">{{todo_list.name}}</h1>
                <div class="creator-name">
                    <p>Created by:<br>{% if todo_list.created_by == request.user %}Me{% else %}{{ todo_list.created_by.first_name }} {{ todo_list.created_by.last_name }}{% endif %}</p>
                </div>
                <div class="share-name">
                    {% if todo_list.owner|get_length_or_empty > 1 %}
                    <p>Shared with:<br>
                        {% for user in todo_list.owner %}
                        {% if user != todo_list.created_by %}
                        {% if request.user == todo_list.created_by %}
                        <button class="remove-from-list" onclick="send_req('{% url 'todo_list_app:remove_from_shared_list' todo_list_id=todo_list.id user_id=user.id %}');">X</button>
                        {% endif %}
                        {{ user.first_name }} {{user.last_name}}<br>
                        {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

                {% if user.is_authenticated and todo_list.access_granted and request.user not in todo_list.owner %}
                <button
                    class="sticker-button add-to-list-button"
                    action="action"
                    onclick="send_req('{% url 'todo_list_app:add_to_my_list' todo_list_id=todo_list.id %}')"
                    type="submit"
                >Add to my lists</button>
                {% endif %}
                <hr>
                <ul>
                    {% for field in todo_list.fields %}
                    
                        <li>
                            <label class="checkbox-label" for="field_{{ field.id }}">
                            {% if todo_list.access_granted %}  
                                {% csrf_token %}
                            {% endif %}
                            <input type="checkbox" 
                                {% if todo_list.access_granted and user.is_authenticated %}
                                    onclick="send_req('{% url 'todo_list_app:check_task' todo_field_id=field.id %}')"
                                {% endif %}
                                id="field_{{ field.id }}"
                                {% if field.checked %}
                                    checked
                                {% endif %} 
                                hidden 
                                {% if not todo_list.access_granted or not user.is_authenticated %}
                                    disabled
                                {% endif %}
                            >

                            <span class="mark"></span>
                        </label>
                        <h3>{{field.name}}</h3>
                    </li>
                <p style="font-size:1.3em;">{{ field.text }}</p>
                    <p>Deadline at: {{ field.deadline_at|is_null_or_false }}</p>
                    <hr>
                    {% endfor %}
                </ul>

            </div>
        </div>


        {% endfor %}
        {% endif %} 
    </div>
</div>

<script type="text/javascript" src="{% static 'todo_list/js/send_req.js' %}"></script>

{% endblock %}