{% extends 'todo_list/base.html' %}
{% load static %}
{% block page_content %}
<div class="page-container">
    <div class="sticker">
        <h1>Edit Todo List</h1>
        <form action="{% url 'todo_list_app:edit_todo_list' todo_list.id %}" method="post" id="login-form">
            {% csrf_token %}
            <label class="sticker-label" for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{ todo_list.name }}"><br>
            <div id="task">
            {% for field in todo_fields %}

                <div id="form_field_{{field.id}}" class="sticker long">
                    <h1>Edit task</h1><label class="sticker-label" for="name-field">Task name</label>
                    <input type="number" name='fields' value="{{field.id}}" hidden>
                    <input id="name-field" type="text" name="names" class="" required="true" value="{{field.name}}">
                    <label class="sticker-label" for="text-field">Task description</label>
                    <textarea id="text-field" type="text" name="descriptions" class="">{{field.text}}</textarea>
                    <label class="sticker-label" for="deadline">Deadline</label>
                    <input id="deadline" type="date" name="deadlines" value="{{field.deadline}}"><hr>
                    <button type="button" class="sticker-button" onclick="remove_field('form_field_{{field.id}}')">Remove</button>
                </div>
           
            {% endfor %}
            </div>
            <br>
            <button id="add-field-button" class="sticker-button" type="button" onclick="add_field()">Add field</button><br>
    
            <button class="sticker-button">Save</button>
            <button class="sticker-button">Cancel</button>
        </form>
    </div>
</div>
<script src="{% static 'todo_list/js/field.js' %}"></script>
{% endblock %}