{% extends 'todo_list/base.html' %}
{% load todo_list_tags %}
{% load static %}

{% block title %}<title>Browse ToDo lists</title>{% endblock %}ss

{% block page_content %}

    {% if user.is_authenticated %}
    {% csrf_token %}

    <div class="page-container">
        {% if todo_lists|get_length_or_empty > 1 %}
        <div class="next-wrap">
            <button id="next"> &raquo </button>
        </div>
        <div class="back-wrap">
            <button id="back"> &laquo </button>
        </div>       
        {% endif %}
        <div id="modal-wrap">
            {% for todo_list in todo_lists %}
            <div class="share-modal" id="share_modal_{{todo_list.id}}">
                <div class="modal-header">
                    <h2>Share list</h2>
                </div>
                <div class="modal-body">
                    <p>Share this list with your friends:</p>
                    <input type="text" value="{{request.scheme}}://{{request.get_host}}{% url 'todo_list_app:list_details' todo_list_hash=todo_list.hash %}" id="share-link_{{todo_list.id}}" readonly>
                    <button class="sticker-button" onclick="copyToClipboard('share-link_{{todo_list.id}}')">Copy</button><br>
                    <button class="sticker-button" onclick="hideModal('share_modal_{{todo_list.id}}', 'modal-wrap')">Close</button>
                </div>
            </div>

            <div class="share-modal" id="delete_modal_{{todo_list.id}}">
                <div class="modal-header">
                    <h2>Delete list</h2>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this list?</p>
                    <form action="{% url 'todo_list_app:delete_todo_list' todo_list_hash=todo_list.hash %}" method="post" class="sticker-form">
                        {% csrf_token %}
                        <button class="sticker-button" type="submit">Delete</button>
                    </form>
                    <button class="sticker-button" onclick="hideModal('delete_modal_{{todo_list.id}}', 'modal-wrap')">Close</button>
                </div>
            </div>


            {% if todo_list.owner|get_length_or_empty > 1 %}
            {% for user in todo_list.owner %}
            {% if user != todo_list.created_by %}
            {% if request.user == todo_list.created_by %}
            <div class="share-modal" id="remove_user_modal_{{user.id}}">
                <div class="modal-header">
                    <h2>Stop sharing</h2>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to stop sharing with {{ user.first_name }} {{user.last_name}}?</p>
                    {% csrf_token %}
                    <button class="sticker-button" onclick="send_req('{% url 'todo_list_app:remove_from_shared_list' todo_list_id=todo_list.id user_id=user.id %}', 'POST');">Remove</button>
                    <button class="sticker-button" onclick="hideModal('remove_user_modal_{{user.id}}', 'modal-wrap')">Close</button>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>

        <div id="carousel-wrap">
            {% if todo_lists|get_length_or_empty == False %}
            <div class="slide">
                <div class="sticker">
                    <h1  class="sticker-heading">Add new ToDo list</h1>
                    <hr>
                    <form action="{% url 'todo_list_app:create_todo_list' %}" method="get">
                    <button class="sticker-button" type="submit">Add</button>
                </div>
            </div>
            {% endif %}

            {% for todo_list in todo_lists %}
            <div class="slide">
                <div class="sticker" id="sticker_{{todo_list.id}}">
                    <h1 class="sticker-heading">{{todo_list.name}}</h1>
                    <div class="creator-name">
                        <p>Created by:<br>{% if todo_list.created_by == request.user %}Me{% else %}{{ todo_list.created_by.first_name }} {{ todo_list.created_by.last_name }}{% endif %}</p>
                    </div>
                    <div class="share-name">
                        {% if todo_list.owner|get_length_or_empty > 1 %}
                        <p>Shared with:<br>
                            {% for user in todo_list.owner %}
                            {% if user != todo_list.created_by %}
                            {% if request.user == todo_list.created_by %}

                            <p class="share-users"></p><button class="remove-from-list" onclick="showModal('remove_user_modal_{{user.id}}', 'modal-wrap');"><i class="fa-solid fa-xmark"></i></button>
                            {% endif %}
                            {{ user.first_name }} {{user.last_name}}</p>
                            {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                    <hr>
                    <ul>
                        {% for field in todo_list.fields %}
                            {% if todo_list.access_granted == True or todo_list.created_by == request.user %}
                                <li>
                                    <label class="checkbox-label" for="field_{{ field.id }}">
                                        <input
                                            type="checkbox"
                                            onclick="send_req('{% url 'todo_list_app:check_task' todo_field_id=field.id %}', 'POST');"
                                            name="field_{{ field.id }}"
                                            id="field_{{ field.id }}"
                                            {% if field.checked %} checked {% endif %}
                                            hidden
                                        >
                                        <span class="mark"></span>
                                    </label>
                                    <h3>{{field.name}}</h3>
                                </li>
                            {% else %}
                                <li>
                                    <label class="checkbox-label" for="field_{{ field.id }}">
                                        <input
                                            type="checkbox"
                                            name="field_{{ field.id }}"
                                            id="field_{{ field.id }}"
                                            {% if field.checked %} checked {% endif %}
                                            disabled
                                            hidden
                                        >
                                        <span class="mark"></span>
                                    </label>
                                    <h3>{{field.name}}</h3>
                                </li>
                            {% endif %}
                    <p style="font-size:1.3em;">{{ field.text }}</p>
                        <p>Deadline at: {{ field.deadline_at|is_null_or_false }}</p>
                        <hr>
                        {% endfor %}
                    </ul>
                    <form action="{% url 'todo_list_app:edit_todo_list' todo_list_hash=todo_list.hash  %}" method="get" class="sticker-form">
                        {% if todo_list.access_granted == True or todo_list.created_by == request.user %}<button class="sticker-button" type="submit">Edit</button>{% endif %}
                    </form>

                    <button class="sticker-button" onclick="showModal('delete_modal_{{todo_list.id}}', 'modal-wrap');">Delete</button>

                    {% if todo_list.access_granted == True or todo_list.created_by == request.user %}<button class="sticker-button" type="submit" onclick="showModal('share_modal_{{todo_list.id}}', 'modal-wrap');">Share</button>{% endif %}

                </div>
            </div>
            {% endfor %}
        
        </div>
        <div class="top-button-box">
            {% for list in todo_lists %}
    
                {% if forloop.counter0 == 0 %}
                <button id="rb_{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" class="round-button rb-active" onclick="quickRotate({{ forloop.counter0 }})">{{ forloop.counter }}</button>
                {% elif forloop.counter < 6 %}
                <button id="rb_{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" class="round-button" onclick="quickRotate({{ forloop.counter0 }})">{{ forloop.counter }}</button>
                {% else %}
                <button id="rb_{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" class="round-button inisible_rb" onclick="quickRotate({{ forloop.counter0 }})">{{ forloop.counter }}</button>
                {% endif %}
            
            {% endfor %}
        </div>
    </div>

    {% endif %}
    
    <script type="text/javascript" src="{% static 'todo_list/js/slide.js' %}"></script>
{% endblock %}