{% extends 'todo_list/base.html' %}
{% load todo_list_tags %}

{% block title %}<title>My ToDo lists</title>{% endblock %}

{% block page_content %}
    <div class="page-container">

        <div class="sticker">
            <hr>
            {% if todo_lists|get_length_or_empty > 0 %}
            <div id="modal-wrap"></div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Unchecked tasks</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}

                    <div class="share-modal" id="delete_modal_{{todo_list.id}}">
                        <div class="modal-header">
                            <h2>Delete list</h2>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this list?</p>
                            <form action="{% url 'todo_list_app:delete_todo_list' todo_list_hash=todo_list.hash %}" method="post" class="sticker-form">
                                {% csrf_token %}
                                <button class="sticker-button" type="submit">Delete</button>
                            </form>
                            <button class="sticker-button" onclick="hideShareModal('delete_modal_{{todo_list.id}}')">Close</button>
                        </div>
                    

                    <tr class='row-bb'>
                        <td>{% if todo_list.created_by != request.user %}<span class='shared-span'>Shared</span>{% endif %} {{ todo_list.name }}</td>
                        <td>{% for field in todo_list.fields %}{% if field.checked == False %}<p>{{field.name}},</p> {% endif %}{% endfor %}</td>
                        <td>
                            {% if todo_list.access_granted == True or todo_list.created_by == request.user %}
                            <form action="{% url 'todo_list_app:edit_todo_list' todo_list_hash=todo_list.hash  %}" method="get">
                                <button class="sticker-button small" type="submit">Edit</button>
                            </form>
                            {% endif %}
                        </td>
                        
                        <td>
                            <button class="sticker-button small" onclick="showShareModal('delete_modal_{{todo_list.id}}');">Delete</button>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h1 class="sticker-heading"><a class='sticker-anchor' href="{% url 'todo_list_app:create_todo_list' %}">You don`t have any ToDo lists yet, create one!</a></h1>
                <hr>                
            {% endif %}            

        </div>

    </div>


{% endblock %}