<div class="navbar-wrap">
    <nav class="navbar">
        <ul>
            <li>
                
                {% if user.is_authenticated %}
                <a class="nav"  href="{% url 'todo_list_app:index' %}">Browse</a>
                <a class="nav" href="{% url 'todo_list_app:list_of_todo_lists' %}">My lists</a>
                
                <a class="nav" href="{% url 'todo_list_app:create_todo_list' %}">Add list</a>
                <a class="nav" aria-current="page" href="{% url 'todo_list_app:settings' %}">Settings</a>
                <a class="nav nav-right"  href="{% url 'todo_list_app:logout' %}">{{user.username}}:Logout</a>
                {% else %}
                <h1 class="nav">Online ToDo list</h1>
                <a class="nav-right" aria-current="page" href="{% url 'todo_list_app:login' %}">Log in</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
