.checkbox-label{
    width: 25px;
    height: 25px;
    background: var(--paper-white);
    border: 2px solid var(--font-color);
    display: inline-block;
    margin: 0px 5px 0 0;
    font-family: 'Marck Script', 'cursive';
    font-size: 1.5em!important;
    color: var(--font-color);
    user-select: none;
}

.mark{
    transform: translate(3px,-20px);
    display: block;
}

@media only screen and (max-width: 1100px) {
  .mark{
    transform: translate(3px,-10px);
  }
}

.mark:after {
    content: "x";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-label input:checked ~ .mark:after {
    display: block;
  }