   :root{
    --paper-white: linear-gradient(45deg,	rgb(57, 57, 52), rgb(64, 64, 64));
    --background: linear-gradient( 90deg,rgba(31, 31, 31, 0.7), rgba(50, 18, 7, 0.7));
    --font-color: rgb(238,238,221);
    --navbar-hover: rgb(64, 64, 64);
    --color-a: rgba(255, 235, 51, 0.7);
    --color-b: rgb(64, 64, 64);
    --sticker-shadow: 0px 0px 10px 0px rgba(255,255,255,0.2);
    --text-shadow: #000 0px 0px 3px;
    --arrow-color: rgba(255, 235, 51, 0.7);
   }