table{
    font-size: 1.5em;   
    border-collapse: collapse;

}

thead{
    color: rgb(238,238,221);
}

th:first-of-type{
    background-color: var(--table-banner-color);
    color: var(--table-banner-font-color);
    border-radius: 20px;
    width: 25%;
}

th:nth-of-type(2){
    background-color: var(--table-banner-color);
    color: var(--table-banner-font-color);
    border-radius: 20px;
    width: 55%;
}
th:nth-of-type(3){
    width: 5%;
}

th:nth-of-type(4){
    width: 5%;
}

td{
    text-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 30vw;
}


.row-bb{
    border-bottom: var(--font-color) solid 2px;

}

.shared-span{
    display: inline-block;
    color: var(--font-color);
    text-decoration: none;
    font-size: 0.6em;
    border-radius: 20px;
    border: 2px solid var(--font-color);
    padding: 5px;
}